In [3]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer, make_column_selector

In [4]:
df = pd.read_csv(r"C:\Users\Administrator.DAI-PC2\Downloads\Shubham\Practical Machine Learning\ClassWork\Datasets\Housing.csv")

In [18]:
ohc = OneHotEncoder(sparse_output=False,drop="first")
ct = make_column_transformer((ohc,make_column_selector(dtype_include = object)),
                             ("passthrough",make_column_selector(dtype_include = ["int64","float64"])),
                             verbose_feature_names_out=False).set_output(transform='pandas')
dum_np = ct.fit_transform(df)
dum_np

,driveway_yes,recroom_yes,fullbase_yes,gashw_yes,airco_yes,prefarea_yes,price,lotsize,bedrooms,bathrms,stories,garagepl
0,1.0,0.0,1.0,0.0,0.0,0.0,42000.0,5850,3,1,2,1
1,1.0,0.0,0.0,0.0,0.0,0.0,38500.0,4000,2,1,1,0
2,1.0,0.0,0.0,0.0,0.0,0.0,49500.0,3060,3,1,1,0
3,1.0,1.0,0.0,0.0,0.0,0.0,60500.0,6650,3,1,2,0
4,1.0,0.0,0.0,0.0,0.0,0.0,61000.0,6360,2,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
541,1.0,1.0,0.0,0.0,1.0,0.0,91500.0,4800,3,2,4,0
542,1.0,0.0,0.0,0.0,1.0,0.0,94000.0,6000,3,2,4,0
543,1.0,1.0,0.0,0.0,1.0,0.0,103000.0,6000,3,2,4,1
544,1.0,1.0,0.0,0.0,1.0,0.0,105000.0,6000,3,2,2,1
545,1.0,0.0,0.0,0.0,1.0,0.0,105000.0,6000,3,1,2,1